{% if flashMessage is not defined %}
	<div class="container alert alert-danger hidden" id="message-danger" role="alert">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Error!</strong>
		<span id="comment-message-danger"></span>
	</div>
{% endif %}

{% for flashMessage in app.session.flashbag.get('error') %}
{# 	<div class="alert alert-danger" role="alert">
		<div class="container">{{ flashMessage }}</div>
	</div> #}
	<div class="container alert alert-danger" role="alert">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Error!</strong> {{ flashMessage }}
	</div>
{% endfor %}